<nav class="flex flex-row flex-no-wrap items-center justify-between bg-gray-800
  h-16">
  <div class="flex-shrink md:flex-1 float-left">
    <a class="rounded px-4 py-2 mx-px md:mx-2 bg-blue-500 hover:bg-blue-400
      text-white" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Home
    </a>
    <a *ngIf="userService.loggedIn" class="rounded px-4 py-2 mx-px md:mx-2 bg-blue-500 hover:bg-blue-400
        text-white" [routerLink]="['/movie']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Movie
    </a>
    <a *ngIf="userService.isHost" class="rounded px-4 py-2 mx-px md:mx-2 bg-blue-500 bg-teal hover:bg-blue-400
        text-white" [routerLink]="['/library']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Library
    </a>
  </div>
  <div class="flex-shrink ">
    <a *ngIf="userService.loggedIn" (click)="userService.logout()" class="rounded px-4 py-2 mx-px md:mx-2 bg-blue-500 hover:bg-blue-400
        text-white" href="/">
      Logout
    </a>
    <div *ngIf="router.url === '/movie'" (click)="chatService.toggleChat()"
      [ngClass]="!chatService.chatVisible ? 'bg-blue-800' : 'bg-blue-500'" class="hidden sm:inline rounded py-2 px-3 mx-2
        text-white cursor-pointer">
      <i class="la la-comment-dots"></i>
    </div>
  </div>
</nav>