<!-- Position Notifications in the top right -->
<div class="z-30 fixed top-0 right-0 mt-2 mr-2 w-full max-w-sm flex flex-col">
  <!-- Notification container -->
  <ng-container *ngFor="let notification of notificationService.notifications">
    <app-movie-notification *ngIf="notification.movie;else default" (close)="clearNotification(notification)"
      [notification]="notification"></app-movie-notification>
    <ng-template #default>
      <app-default-notification (close)="clearNotification(notification)" [notification]="notification">
      </app-default-notification>
    </ng-template>
  </ng-container>
</div>