<!-- FIXME: The sidebar grows horizontally when long messages are sent. Wait until video player is in to see if it fixes it -->
<div *ngIf="chatService.chatVisible" class="h-full w-full md:max-w-xs flex flex-col
  items-center justify-between text-light-grey md:border-l border-gray-400">
  <div class="message-area h-full w-full overflow-hidden">
    <!-- TODO: Autoscroll not sure how to do it in angular-->
    <!-- bind:this={{div}} -->
    <ul class="flex flex-col p-2">
      <app-message *ngFor="let message of chatService.chat$ | async" [message]="message"></app-message>
    </ul>
  </div>
  <div class="p-2 border-t border-gray-400 w-full">
    <textarea [(ngModel)]="message" (keypress)="handleKeypress($event)" class="rounded resize-none rounded-lg focus:shadow-md focus:outline-none w-full p-2
      text-gray-600" rows="3"></textarea>
  </div>
</div>

<style>
  .message-area:hover {
    overflow-y: scroll;
  }
</style>